body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, black, red);
  color: white;
  font-family: Arial, sans-serif;
}

.centrar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
