body { margin: 0; font-family: Arial, sans-serif; color: white; }

/* ARRIBA: degradé */ 
.arriba { background: linear-gradient(to bottom, black, red); padding: 40px; text-align: center; }

/* LÍNEA */ 
/* LÍNEA DIVISORIA */
.linea {
  width: 100%;
  height: 3px;
  background-color: white;
  border: none;
  margin: 0;
}

.abajo {
  background-color: black;
  padding: 40px;
  padding-bottom: 400px;
  text-align: center;
}

/* CENTRAR IMÁGENES */ 
.centrar { display: block; margin-left: auto; margin-right: auto; }

.formulario {
  max-width: 400px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario input,
.formulario textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.formulario button {
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.formulario button:hover {
  background-color: darkgreen;
}
