body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
}

/* ARRIBA: degradé */
.arriba {
  background: linear-gradient(to bottom, black, green);
  padding: 40px;
  text-align: center;
}

/* LÍNEA */
.linea {
  width: 60%;
  height: 3px;
  background-color: green;
  border: none;
  margin: 40px auto;
}

/* ABAJO: negro */
.abajo {
  background-color: black;
  padding: 40px;
  text-align: center;
}

/* CENTRAR IMÁGENES */
.centrar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
